.userMenuWrapp {
  display: flex;
  gap: 5px;
  align-items: center;
}

.btnLogOut {
  padding: 10px 15px;
  text-decoration: none;
  color: black;
  background-color: transparent;
  border: 1px solid rgb(110, 110, 110);
  border-radius: 5px;
  transition: all 0.3s;
  font-size: 20px;
}

.btnLogOut:hover {
  color: rgb(153, 152, 152);
}
